.container {
    width: 960px;
    margin: 0 auto;
}

#add_copyriter {
    margin-top: 23px;
}

.cw-item {
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EEE;

    padding: 5px 8px;
    overflow: auto;
}

.cw-item .name {
    line-height: 34px;
    font-size: 1.2em;
}